<div id="message-<%= message.id %>" class="<%= message.user == current_user ? 'sender' : 'receipt' %>">
  <p><%= message.description %></p>
  <small>
    <% if message.created_at.present? %>
      <%= message.created_at.strftime("%b %d, %H:%M") %>
    <% end %>
  </small>
</div>
