<div class="col-md-4 mb-4">
  <div class="bike-card">
    <div class="d-flex flex-column align-items-center">
      <div class="bg-image card shadow-1-strong"
      style="background-image: url(https://res.cloudinary.com/dkoh816xy/image/upload/v1723270999/bike_route_i6mmj9.jpg)">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0, 0.6);">
          <div class="card-body text-white">
            <h5 class="text-center mt-3"><%= route.title %></h5>
            <div><p><%= route.description %></p>
            </div>
                <div class="see-more-link mt-2 d-flex justify-content-center card-button">
                  <%= link_to 'Check Route', route_path(route) %>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
