// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$light-blue: #4e92f6;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$black: #333333;
$border: #dee2e6;
$gray-icon: #a6acb2;
$light-gray-icon: #cbcbcf;
$gray-hover: #5c636a;
$white: #FFFFFF;
$dark-red : #960808;
$primary-yellow:#e9af11;
