<%= simple_form_for [@route, @comment] do |f| %>
  <%= f.label 'Insert your comment:' %>
  <%= f.input :description, label: false %>
  <div class="d-flex justify-content-center">
    <%= f.button :submit, "Submit your comment", class: "btn-yellow" %>
  </div>
<% end %>