// Specific CSS for your home-page

.home {

  .bg-white {
    margin-top: 20px;
  }

  h3 {
    font-weight: 600;
    color: $gray-hover
  }

  h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: $gray-hover
  }

  h2 {
    color: $white;
    font-weight: 400;
  }

  .discover-routes {
    margin-top: 2rem;
    padding: 0 1rem;

    h3 {
      color: $white;
    }

    p {
      color: $white;
      font-weight: 300;
    }
  }

  .nav-pills {
    .nav-link {
      color: $dark-red;
      transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    }

    .nav-link.active {
      color: $white;
      background-color: $dark-red;
      border-radius: 8px;
    }
  }
}
