// Specific CSS for your home-page

.home {

  h2 {
    color: $white;
    font-weight: 400;
  }

  .discover-routes {
    margin-top: 3rem;

    h3 {
      color: $white;
    }

    p {
      color: $white;
      font-weight: 300;
    }
  }
}
