// Import page-specific CSS files here.
@import "home";
@import "routes_show";
@import "show_user";
@import "routes_new";

.content-body {
  padding-bottom: 120px;
}

h1, h2, h3, h4, h5, h6, h7, p, small {
  color: $black;
}

a {
  text-decoration: none;
}

.content-body {
  background: $white;
  padding-bottom: 400px;

  @media (max-width: 768px) {
    padding-bottom: 16rem;
  }
}
