.banner-show-route {
  i {
    font-size: 1.5em;
  }

  a {
    text-decoration: none;
  }

  .reviews-show-route {
      .fa-star {
      font-size: 1.1em;
      color: $yellow;
      }

      .fa-pen-to-square {
        color: $gray-icon;
        transition: color 0.3s;

        &:hover {
          color: $gray-hover;
        }
      }

    .review-photo {
      width: 150px;
      height: 150px;
      border-radius: 6px;
      margin-right: 5px;
    }

    .review-form {
      transition: opacity 1.3s ease, max-height 1.3s ease;
      overflow: hidden;
      max-height: 0;
      opacity: 0;
    }
    
    .review-form.visible {
        opacity: 1;
        max-height: 500px;
    }
  }
}