.user-top-profile {
  .local-user {
    button {
      background: $white;
      border: none;
      border-radius: 6px;
      color: $dark-red;
      font-weight: 600;
      padding: 0.2rem 1rem;

      @media (max-width: 768px) {
        font-size: 0.8rem;
        
        i {
          font-size: 0.8rem;
        }
      }
    }
  }

  .fa-comment-dots {
    color: #fff;
    font-size: 1.3rem;
    transition: color 0.3s;
    &:hover {
      color: $gray-hover;
    }
  }

  h2 {
    color: $white;
    font-size: 2rem;
    margin: 0 0.5rem 0 0;
  }

  a {
    text-decoration: none;
    color: $white;
  }

  p {
    color: #fff;

    @media (max-width: 768px) {
      font-size: 0.8rem;
    }
  }

  @media (max-width: 768px) {
    h2 {
      font-size: 1.2rem;
    }
  }
}