<div class="bg-red">
  <div class="container">
    <%= render 'shared/logo_btn_top_white', user: (@user || current_user) %>
    <%= render 'shared/link_user_profile', user: (@user || current_user) %>
  </div>
  <div class="bg-white">
    <div class="container">
      <h3 class="text-center"><%= @user.username %> is following:</h3>
      <div class="d-flex justify-content-center mb-4">
      </div>
      <div class="row">
        <% if @user.following.any? %>
          <% @following.each do |user| %>
            <div class="col-6 col-md-4 mb-2">
              <%= render 'user_card', user: user %>
            </div>
          <% end %>
        <% else %>
          <p>Not following anyone yet</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
