<div class="bg-red">
  <div class="container">
    <%= render 'shared/logo_btn_top_white', user: (@user || current_user) %>
    <%= render 'shared/link_user_profile', user: (@user || current_user) %>
  </div>
  <div class="bg-white">
    <div class="container headers-gray">
      <div class="d-flex justify-content-center mb-4">
        <div class="col-10">
          <%= render 'components/search_bar' %>
        </div>
      </div>
      <h4 class="pb-2">Find a partner:</h4>
      <div class="row">
        <% @users.each do |user| %>
          <div class="col-6 col-md-4 mb-2">
            <%= render 'user_card', user: user %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>