<div class="container">
  <%= render 'shared/logo_btn_top' %>
  <h1 class="text-center">Saved Trips for <strong><%= @user.first_name %></strong></h1>
  <div class="container">
    <% if @saved_trips.any? %>
      <% @saved_trips.each do |route| %>
        <div class="d-flex col-sm-12 col-md-4">
          <%= render "components/saved_routes_card", route: route %>
        </div>
      <% end %>
    <% else %>
      <p>No saved trips found.</p>
    <% end %>
  </div>
</div>
