<div class="d-flex justify-content-between my-4">
  <div class="d-flex justify-content-start back-btn">
    <%= link_to (request.referrer || root_path) do %>
      <i class="fa-solid fa-circle-chevron-left"></i>
    <% end %>
  </div>
  <%= image_tag 'logo-red.svg', class:"logo-icon" %>
</div>