<% if user_signed_in? %>
<footer class="nav-footer mt-auto py-3">
  <div class="container">
    <div class="d-inline-flex">
      <div class="rounded-pill bg-secondary p-3 footer-links">
        <span class="text-muted">
          <%= link_to root_path, {style: "text-decoration: none"} do %>
            <i class="fa-solid fa-house fa-lg p-4"></i>
          <% end %>
          <% if user_signed_in? %>
          <%= link_to user_bikes_path(current_user), {style: "text-decoration: none"} do %>
            <i class="fa-solid fa-motorcycle"></i>
          <% end %>
          <% end %>
          <%= link_to routes_path, {style: "text-decoration: none"} do %>
            <i class="fas fa-search fa-lg p-4"></i>
          <% end %>
          <i class="fa-solid fa-location-dot fa-lg p-4"></i>
          <i class="fa-solid fa-square-plus fa-lg p-4"></i>
        </span>
      </div>
    </div>
  </div>
</footer>
  <% end %>
