<div class="container">
  <%= render 'shared/logo_btn_top' %>
  <div class="d-flex justify-content-between mt-4">
    <h3><strong><%= current_user.first_name %></strong>'s Bikes</h3>
    <%= link_to "Add a bike", new_user_bike_path, class:"btn-yellow " %>
  </div>
  <% @bikes.each do |bike| %>
    <%= render 'components/bike_card',  bike: bike  %>
  <% end %>
</div>
