.alert {
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  @media (max-width: 768px) {
    font-size: 0.7rem;
  }
}

.alert-info {
  background: rgba(255, 244, 222, 0.8);
  border-radius: 12px;
}

.alert-warning {
  background: rgba(248, 215, 218, 0.8);
  border-radius: 12px;
}