.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.avatar-sm {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.avatar-large {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}
.avatar-bordered {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 3px solid;
  object-fit: cover;
  @media (max-width: 768px) {
    width: 60px;
    height: 60px;
  }
}
.avatar-square {
  width: 40px;
  height: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  object-fit: cover;
}

.avatar-image {
  width:60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}