.bg-red {
  background-image: image-url('bg-app.png');
  background-size: cover;
  background-position: center;
  height: 100vh;

  .bg-white {
    background: $light-gray;
    border-radius: 36px 36px 0 0;
    min-height: 100vh;
    padding-top: 2.5rem;
    padding-bottom: 100px;
  }

  a {
    text-decoration: none;
  }
}