.bike-card {
  height: auto;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 12px;

  .bg-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: bottom; 
  }

  .card-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 16px;
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
    
    h5 {
      color: #fff;
    }
  }
}

.fa-circle-plus {
  color: $yellow;
  font-size: 2rem;
}