.mapboxgl-ctrl-geocoder {
  width: 250px; // Adjust the width to make it thinner
  input {
    height: 38px; // Adjust the height if needed
    font-size: 15px; // Adjust the font size if needed
  }
}

.mapboxgl-ctrl-top-left {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjusts the space between the controls */
}

.custom-geocoder {
  min-width: 200px; /* Adjust width as necessary */
}

.mapboxgl-ctrl-geocoder--icon-search {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 23px;
  height: 23px;
}

.custom-remove-btn {
  background-color: #980403;
  border-color: #980403;
  border-radius: 6px;
}

.custom-remove-btn:hover {
  background-color: #d75e62;
  border-color: #d75e62;
}

.no-marker {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 2px;
  margin-top: 5px;
}

.landmark-search-form .form-group {
  margin-bottom: 0; /* Reduces the space between label and search button */
}

.landmark-search-form label {
  margin-bottom: 0; /* Removes any bottom margin from the label */
}

.landmark-search-form input {
  margin-top: 0; /* Removes any top margin from the input */
  padding-top: 0; /* Removes any top padding from the input */
}
