.nav-footer {
  margin-top: auto;
  flex-grow: 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

.footer-links {
  background: #333333;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-links a {
  text-decoration: none;
}

.footer-links i {
  padding: 1.5rem 1rem;
  margin: 0.5rem;
}

.white {
  color: $white;
}

.red {
  color: $dark-red;
}

.active-bg {
  background: #dddddd;
  border-radius: 50%;
}
