.nav-footer {
  margin-top: auto;
  flex-grow: 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  z-index: 100;

  .bg-footer-nav {
    background-image: image-url('bg-app.png');
  }

  .footer-links {
    a, i {
    text-decoration: none;
    color: $black;
    }
  }

  i {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    background-color: white;
  }
}
