.post-form {
  position: relative;
  background: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;

  .btn-img {
    button {
      background: none;
      border: none;
      font-size: 1.5rem;
      color: $gray-hover;
    }
  }

  .btn-submit {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .input-form {
    position: relative;
    margin-right: 3rem;

    textarea {
      background: none;
      border: none;
      outline: none;

      &::placeholder {
        font-size: 0.9rem;
        margin-right: 3rem;
        color: $gray-icon;
      }

      &:focus {
        outline: none;
        box-shadow: none;
        background-color: transparent;
      }
    }
  }

  .tags input {
    background: none;
    border-radius: 4px;
    outline: none;
    box-shadow: none;
    border: 1px solid rgba(222, 226, 230, 0.5);

    &::placeholder {
      font-size: 0.8rem;
      color: $gray-icon;
    }

    &:focus {
      outline: none;
      box-shadow: none;
      border-color: $border;
    }
  }

  .remove-mb {
    margin-bottom: 0 !important;
  }

  @media(max-width: 768px) {
    .btn-yellow-sm {
      font-size: 0.7rem;
    }
  }
}

.mention-suggestions {
  list-style: none;
  margin: 0;
  padding: 0.5rem;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  max-height: 150px;
  overflow-y: auto;
  width: 80%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;

  @media (max-width: 768px) {
    width: 100%;
    max-height: 100px;
    padding: 0.3rem;
  }

  li {
    cursor: pointer;
    padding: 0.5rem;
    font-size: 0.9rem;
    color: $gray-hover;
    font-weight: 500;

    &:hover {
      background-color: #f0f0f0;
    }

    @media (max-width: 768px) {
      padding: 0.3rem;
    }
  }
}
