.saved-route-card {
  position: relative;
  height: 300px;
  width: 100%;
  flex: 0 0 auto;
  overflow: hidden;
  border-radius: 16px;

  a {
    text-decoration: none;
  }

  h5 {
    color: $black;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
  }

  p{
    color: $black;
    font-weight: 600;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }

  i {
    color: $dark-red;
  }

  .card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-body {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    height: 100%;
    width: 100%;
    background: rgba(250, 250, 250, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 1rem;
    box-sizing: border-box;

    .card-text {
      font-weight: 400;
    }
  }

  .fa-trash-can {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    color: $dark-red;
    cursor: pointer;
    z-index: 10;
  }

  button {
    background: none;
    border: none;
  }
}
