.search-bar {
  .form-control {
    background: #E0E0E2;
    border-radius: 6px;
    border-left: none;
    border-start-start-radius: 0;
    border-end-start-radius: 0;
    flex: 1;
    height: 3rem;
  }

  .btn {
    background: #E0E0E2;
    color: #fff;
    border-radius: 6px;
    border-right: none;
    border-start-end-radius: 0;
    border-end-end-radius: 0;
    height: 3rem;
  }

  .btn i {
    margin: 0;
  }
}
