.route-tag {
  background: $dark-red;
  display: block;
  color: $white;
  padding: 0.3rem 1rem;
  font-weight: 600;
}

.tag-card {
  background: $dark-red;
  color: #fff;
  padding: 0.2rem 0.8rem;
  font-size: 0.7rem;
  border-radius: 12px;
}