.route-tag {
  background: $dark-red;
  display: block;
  color: $white;
  padding: 0.3rem 1rem;
  font-weight: 600;
}

.tag-card {
  background: $dark-red;
  color: #fff;
  padding: 0.2rem 0.8rem;
  font-size: 0.7rem;
  border-radius: 12px;
}

.recomended-bike-tag {
  padding: 0.5rem;
  border: 1px solid $border;
  border-radius: 6px;
  position: relative;
  height: 100px;
  display: flex;
  align-items: end;
  justify-content: center;

  .bike-type {
    position: absolute;
    top: 5px;
    left: 10px;
    color: $dark-red;
    font-weight: 700;
    @media (max-width: 768px) {
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 6px;
  }
}

.tag-post {
  background: #e2e3e5;
  border: 1px solid #d3d6d8;
  color: #41464b;
  font-size: 0.7rem;
  padding: 3px 5px;
  border-radius: 4px;
}