.user-card {
  border-radius: 8px;
  position: relative;
  padding: 0.5rem;

  .follower-icon {
    position: absolute;
    top: 8px;
    right: 8px;

    button {
      border: none;
      background: none;
      text-decoration: none;

      .fa-user-plus {
        color: $dark-red;
        transition: color 0.3s;
        
        &:hover {
          color: lighten($dark-red, 10%);
        }
      }

      .fa-user-check {
        color: $gray-icon;
        transition: color 0.3s;

        &:hover {
          color: $gray-hover;
        }
      }

      i {
        font-size: 20px;
      }
    }
  }

  .location {
    background: $dark-red;
    padding: 0.3rem 0.8rem;
    color: white;
    display: inline-flex;
    max-width: max-content;
    justify-content: center;
    align-items: center;
    border-radius: 6px;

    p {
      margin: 0;
      padding: 0;
      color: white;
      font-size: 0.8rem;
    }

    i {
      font-size: 0.8rem;
    }
  }

  @media (max-width: 768px) {
    h4 {
      font-size: 1.2rem;
    }
  }
}