.weather-container {
  color: white;
  .weather {
    padding: 5px;
    background-color: $dark-red;
    border-radius: 5px;
    color: white;

    .card-body {
      align-items: center;
      justify-content: center;
      text-align: center;

      img {
        width: 100px;
        height: 100px;
        @media (max-width: 768px) {
          width: 80px;
          height: 80px;
        }
      }
    }
  }
  h6 {
    color: white;
    margin-bottom: 0px;
    font-weight: 300;
  }

  h3 {
    font-weight: 700;
  }
}
