<div class="bg-red">
  <div class="container">
    <%= render 'shared/logo_btn_top_white', user: (@user || current_user) %>
    <%= render 'shared/link_user_profile', user: (@user || current_user) %>
  </div>
  <div class="bg-white">
    <div class="container ">
      <h1 class="text-center">Record Your Journey</h1>
      <%= render 'form', route: @route, button_text: "Create Route" %>
    </div>
  </div>
</div>
