<div class="bg-red">
  <div class="container mb-4">
    <%= render 'shared/logo_btn_top_white' %>
    <%= render 'shared/link_user_profile' %>
  </div>
  <div class="bg-white">
    <div class="container p-4 ">
      <h1 class="text-center">Create New Route</h1>
      <%= render 'form' %>
    </div>
  </div>
</div>
