
<div class="container">
  <div class="d-flex justify-content-end p-4">
    <%= image_tag 'logo-red.svg', class:"logo-icon" %>
  </div>

  <h1 class="text-center">Create New Route</h1>

   <%= render 'form' %>
</div>
