<div class="container">
  <h3>Update this review:</h3>
  <%= simple_form_for [@route, @review] do |f| %>
    <%= render "reviews/form", f: f %>
    <%= f.button :submit, "Update Review", class: "btn btn-info" %>
  <% end %>
  <div class="d-flex justify-content-start mt-4 pt-4">
    <%= link_to 'Back', (request.referrer || routes_path), class: "btn btn-secondary ms-2" %>
  </div>
</div>
